.page {
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.logo {
    margin-bottom: 12;
    height: 90;
    font-weight: bold;
}

.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #FFFFFF;
}

.input-field {
    margin-bottom: 25;
}

.input {
    font-size: 18;
    placeholder-color: #FFFFFF;
}

.btn-primary {
    height: 50;
    margin: 30 5 15 5;
    background-color: #FFFFFF;
    border-radius: 5;
    font-size: 20;
    font-weight: 600;
    color: #A8A8A8;
}

.login-label {
    horizontal-align: center;
    color: #000000;
    font-size: 16;
}

.sign-up-label {
    margin-bottom: 20;
}

.bold {
    color: #000000;
}

.action-bar {
    background-color: #F7941E;
    color: #fff;
}

TabView {
    tab-text-color: #022734;
    selected-tab-text-color: #F7941E tab-background-color: #39af8a;
    android-selected-tab-highlight-color: #185a9d;
}

.MyStackLayout {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

ActionBar {
    background-color: #EA761E;
    color: white;
}

.sendMe {
    background-color: #71BF45;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.e {
    color: black;
    font-size: 18;
    padding-left: 10px;
    text-align: center;
}
