@import '~/custom.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');


.login-page {
  align-items: center;
  flex-direction: column;
  background-color: #F7941E;
  font-family: 'Roboto', sans-serif;

}

.login-form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.login-label {
  horizontal-align: center;
  color: #FFFFFF;
  font-size: 16;
  font-weight: 300 ;
}

.login-header-label {
  horizontal-align: center;
  color: #FFFFFF;
  font-size: 30;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-bottom: 30;
}

.btn-layout{
  height: 40;
  width: 300;
  margin: 10 5 15 5;
}

.logo{
  margin-top: 70;
  width: 800px;
  height: 800px;
}

.register-logo{
  margin-top: 70;
  width: 800px;
  height: 800px;
}

.btn-layout-mp{
  height: 40;
  width: 300;
  margin: 10 5 10 5;
}

.layout-center{
  align-content: center;
  horizontal-align: center;
  margin: 5 5 5 5;
}

.profile-label{
  font-size: 20;
  font-weight: 300 ;
}
